fastapi
pydantic
uvicorn[standard]

fastapi-pagination[sqlalchemy]

sqlalchemy
psycopg2-binary

requests
openpyxl
overpy
geopy

geojson
shapely
geoalchemy2

click

black
flake8
pyright
pytest

pip-tools

sentry_sdk
